header {
  width: 100%;
  padding: 10px 10px;
  background-color: #c52f24;
  color: white;
}

footer {
  width: 100%;
  padding: 10px 10px;
  background-color: #c52f24;
  color: white;
}

.notice {
  width: fit-content;
  padding: 10px 20px;
}

.red {
  background-color: #ec98ac8f;
  border: 2px solid #ec7592;
}