
header {
  width: 100%;
  padding: 10px 10px;
  background-color: #c52f24;
  color: white;
  
}

footer {
  width: 100%;
  padding: 10px 10px;
  background-color: #c52f24;
  color: white;
}

/*フラッシュメッセージ*/
.notice {
  width: fit-content;
  padding: 10px 20px;
}

.red {
  background-color: #ec98ac8f;
  border: 2px solid #ec7592;
}

.green {
  background-color: #98ecaa7a;
  border: 2px solid #5cd075;
}

/*フラッシュメッセージ 終了*/

/*テーブルのデータ部分*/
td {
  text-align: center;
}


/*ヘルパーメソッド form_with は翻訳後､input､textareaなどのhtml要素になる*/
input {
  width: 200px;
}

textarea {
  width: 200px;
  height: 100px;
}

/*テーブルのデータ部分終了*/

/*liタグで表示される点を削除｡*/
li{
  list-style:none;
}

/*liの点削除後､ul要素に残った左余白を削除*/
ul {
  padding-left: 0;
}


